# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# Output directory
dist/

# Vite
.vite/

# Environment variables
.env
.env.local
.env.*.local

# Local history
.gemini/
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db
